h1 {
    color: brown;
    font-size: 40px;
    text-shadow: 4px 4px 8px darkslategrey;
}
button{
    background-color: chartreuse;
    color: black;
    width: 200px;
    padding: 20px;
    margin-left: 350px;
    border-radius: 30px;
}
img{
    width: 150px;
    height: 200px;
}
button:hover{
            background-color: #952762;
        }