form{
background-image: url('/assets/business.png');
background-repeat: no-repeat;
background-size: cover; 
width: 50%;
margin: auto;
padding: 50px;
border-radius: 60px;
box-shadow: 0 0 20px gray;
color: blue;
}
legend{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 12px gray;
    
}

input[type=text], input[type=password], input[type=email],input[type=date],input[type=tel],input[type=datetime-local],select, {
    width: 100%;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
    margin-top: 10px; 
}
button{
    background-color: yellow;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    margin-top: 0 auto;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 0 10px gray;
    border: none;
    display: block;
    margin: auto;
}
button:hover {
    background-color: blue;
    cursor: pointer;
}



