h1{
text-align: center;
color: aqua;

}
h2{
font-size: 40px;

}
#heading1{
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
.paragraph{
    font-weight: bold;
   font-style: italic; 
}
#vip{
    background-color: burlywood;
    display: flex;
    padding: 40px;
    margin: 30px;
    border-radius: 40px;

}
#vip:hover{
    background-color: darkorange;
    
}

#vip img{
    margin-right: 50px;
}

#surprises{
    display: flex;

}
#surprises img{
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 50px;
}
button{
    background-color: chartreuse;
    color: black;
    width: 200px;
    padding: 20px;
    margin-left: 350px;
    border-radius: 30px;
}

.car-services {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 60px ;
  max-width: 1100px;
  padding: 20px;
}

.car-card {
  flex: 1;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.car-card img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.car-card h3 {
  font-size: 1.5em;
  margin: 15px 0 5px;
  color: #111;
}

.car-card p {
  font-style: italic;
  color: #666;
  margin-bottom: 15px;
}

.car-card ul {
  text-align: left;
  padding-left: 25px;
  color: #333;
  line-height: 1.8;
}



